<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title> Wildcats CAGE Register </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/citu_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>

  <body>
    <!-- HEADER + NAV -->
    <header>
      <img src="{% static 'images/citu_logo.png' %}" alt="CIT-U Logo">

      <div id="title">
        <div id="wc"> WILDCATS CAGE </div>
        <div id="cage"> CHECKING ATTENDANCE GETS EASY </div>
      </div>

      <nav>
        <ul>
          <li> <a href="{% url 'index' %}">Home</a> </li>
          <li> <a href="{% url 'index' %}">About</a> </li>
          <li> <a href="{% url 'index' %}">Contact</a> </li>
          <li> <a href="{% url 'login' %}">Login</a> </li>
          <li> <a id="current" href="{% url 'register' %}">Register</a> </li>
        </ul>
      </nav>
    </header>

    <!-- MAIN -->
    <main>
      <div id="selectrole">
        <img src="{% static 'images/citu_logo.png' %}" alt="CIT - U Logo">
        <h1> WILDCATS CAGE </h1>
        <h2> CHECKING ATTENDANCE GETS EASY </h2>
        <hr/>
        <h3> Select Your Role </h3>
        <a href="{% url 'registerstudent' %}"> <button> Student </button> </a>
        <p> or </p>
        <a href="{% url 'registerteacher' %}"> <button> Teacher </button> </a>
        <p> Already have an account? <a href="{% url 'login' %}"> Login </a> </p>
      </div>
    </main>

    <footer>
      <div>
        <h3> WILDCATS CAGE </h3>
        <p> Making attendance management simple<br/>and efficient for educational institutions. </p>
      </div>

      <div>
        <h3> QUICK LINKS </h3>
        <ul>
          <li> <a>CIT-U Homepage</a> </li>
          <li> <a>CIT-U Facebook</a> </li>
          <li> <a>CCS Facebook</a> </li>
        </ul>
      </div>

      <div>
        <h3> FOR USERS </h3>
        <ul>
          <li> <a>GitHub</a> </li>
          <li> <a>Figma</a> </li>
          <li> <a>Canva</a> </li>
        </ul>
      </div>

      <div>
        <h3> CONNECT WITH US </h3>
        <ul>
          <li> <a>Twitter</a> </li>
          <li> <a>Instagram</a> </li>
          <li> <a>Facebook</a> </li>
        </ul>
      </div>

      <div>
        <p> &copy; 2025 - Wildcats CAGE - All rights reserved </p>
      </div>
    </footer>
  </body>
</html>
