<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title> Wildcats CAGE Register </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/citu_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
  </head>

  <body>
    <!-- HEADER + NAV -->
    {% include 'header.html' %}

    <!-- MAIN -->
    <main>
      <div id="selectrole">
        <img src="{% static 'images/citu_logo.png' %}" alt="CIT - U Logo">
        <h1> WILDCATS CAGE </h1>
        <h2> CHECKING ATTENDANCE GETS EASY </h2>
        <hr/>
        <h3> Select Your Role </h3>
        <a href="{% url 'registerstudent' %}"> <button> Student </button> </a>
        <p> or </p>
        <a href="{% url 'registerteacher' %}"> <button> Teacher </button> </a>
        <p> Already have an account? <a href="{% url 'login' %}"> Login </a> </p>
      </div>
    </main>

    <!-- FOOTER -->
    {% include 'footer.html' %}
  </body>
</html>
