/* Styles for index page */

main
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #CCC;
}

.row
{
    display: grid;
    width: 90%;
    height: 20vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin: 0 auto;
}

.rowtxt
{
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    text-align: left;
    justify-content: center;
    padding-left: 6vw;
    background-color: #78081C;
    color: #FFF;
}

.rowtxt button
{
    width: fit-content;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
    background-color: #F7C301;
    color: #78081C;
}

.rowtxt2
{
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    align-items: flex-end;
    justify-content: center;
    padding-right: 6vw;
    background-color: #F7C301;
    color: #78081C;
}

.rowtxt2 button
{
    width: fit-content;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
    background-color: #78081C;
    color: #F7C301;
}

.rowimg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rowtxt h2, rowtxt2 h2
{
    font-size: 2vw;
}

.rowtxt p, .rowtxt2 p
{
    font-size: 1.2vw;
}
