<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title> Wildcats CAGE Student </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/citu_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/studentdashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>

  <body>
    <!-- HEADER + NAV -->
    <header>
      <img src="{% static 'images/citu_logo.png' %}" alt="CIT-U Logo">

      <div id="title">
        <div id="wc"> WILDCATS CAGE </div>
        <div id="cage"> CHECKING ATTENDANCE GETS EASY </div>
      </div>

      <nav>
        <ul>
          <li> <a id="current" href="{% url 'student:dashboard' %}">Dashboard</a> </li>
          <li> <a id="logout" href="{% url 'index' %}">Logout</a> </li>
        </ul>
      </nav>
    </header>

    <!-- MAIN -->
    <main>
      <h1> CLASSES </h1>

      <div id="classes">
        <div class="classcard">
          <div class="classicon"> <img src="{% static 'images/class_placeholder.jpeg' %}"> </div>
          <h2> CSIT321 </h2>
          <p> W (7:30 AM - 10:30 AM) </p>
          <p> W (3:00 PM - 5:00 PM) </p>
        </div>

        <div class="classcard">
          <div class="classicon"> <img src="{% static 'images/class_placeholder.jpeg' %}"> </div>
          <h2> CSIT327 </h2>
          <p> W (1:00 PM - 3:00 PM) </p>
          <p> S (12:00 PM - 3:00 PM) </p>
        </div>

        <div id="joinclass" class="classcard">
          <h2> + </h2>
          <p> Join Class </p>
        </div>
      </div>

      <h1> ATTENDANCE OVERVIEW </h1>

      <div id="attendance">
        <table>
          <tr>
            <th> CLASS NAME </th>
            <th> SESSIONS </th>
            <th> PRESENT </th>
            <th> ABSENT </th>
            <th> STATUS </th>
          </tr>

          <tr>
            <td> CSIT321 </td>
            <td> 10 </td>
            <td> 9 </td>
            <td> 1 </td>
            <td> Active </td>
          </tr>

          <tr>
            <td> CSIT327 </td>
            <td> 10 </td>
            <td> 10 </td>
            <td> 0 </td>
            <td> Active </td>
          </tr>
        </table>
      </div>
    </main>

    <!-- FOOTER -->
    <footer>
      <div>
        <h3> WILDCATS CAGE </h3>
        <p> Making attendance management simple<br/>and efficient for educational institutions. </p>
      </div>

      <div>
        <h3> QUICK LINKS </h3>
        <ul>
          <li> <a>CIT-U Homepage</a> </li>
          <li> <a>CIT-U Facebook</a> </li>
          <li> <a>CCS Facebook</a> </li>
        </ul>
      </div>

      <div>
        <h3> FOR USERS </h3>
        <ul>
          <li> <a>GitHub</a> </li>
          <li> <a>Figma</a> </li>
          <li> <a>Canva</a> </li>
        </ul>
      </div>

      <div>
        <h3> CONNECT WITH US </h3>
        <ul>
          <li> <a>Twitter</a> </li>
          <li> <a>Instagram</a> </li>
          <li> <a>Facebook</a> </li>
        </ul>
      </div>

      <div>
        <p> &copy; 2025 - Wildcats CAGE - All rights reserved </p>
      </div>
    </footer>
  </body>
</html>
