<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> CAGE Teacher </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/citu_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/cla.css' %}">
    <style>
      #reject{
          background-color: #860A35;
          color: white;
        }
    </style>
  </head>

  <body>
    {% include 'teacher_header.html' %}
    <div class="section-divider"></div>

    <main class="class-details-container">
    <h1>Class: {{class}}</h1>
      <label for="modal-toggle" class="modal-btn">＋ View Pending Student Requests</label>

    <table class="student-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Course</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% if students %}
            {% for enrollment in students %}
              <tr>
                <td>{{ enrollment.0 }}</td>
                <td>{{ enrollment.1 }} {{ enrollment.2 }}</td>
                <td>{{ enrollment.3 }}</td>
                <td>{{ enrollment.4 }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="3">No students enrolled yet.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
  </main>

    <input type="checkbox" id="modal-toggle" />

 <div class="modal">
      <div class="modal-content">
        <h2>Pending Join Requests</h2>
        <br>
         <table class="student-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Course</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% if pending_requests %}
          {% for request in pending_requests %}
              <tr>
                <td><strong>{{ request.0 }}</strong></td>
                <td>{{ request.1 }} {{ request.2 }}</td>
                <td>{{request.3}}</td>
                <td><div class="request-actions">
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="student_id" value="{{ request.4 }}">
                  <button type="submit" name="action" value="approve" id="approve">Approve</button>
                  <button type="submit" name="action" value="reject" id="reject">Reject</button>
                </form>
              </div></td>
              </tr>
          {% endfor %}
        {% else %}
            <tr>
              <td colspan="3">No students requested to join.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>

        <label for="modal-toggle" class="close-modal">Close</label>
      </div>
    </div>

  </body>
</html>