<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> CAGE Teacher </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/citu_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher_dashboard.css' %}">
  </head>

  <body>
    <!-- HEADER + NAV -->
    {% include 'teacher_header.html' %}

    <!-- MAIN -->
    <main>
      <h1> Welcome teacher {{ teacher.first_name }} {{ teacher.last_name }}! </h1>
    </main>

    <!-- FOOTER -->
    {% include 'footer.html' %}
  </body>
</html>
